body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.card{
  width:33%;
  height: 50%;
  border-style: solid;
  border-color: lightblue; 
 text-align: center;
 
 
}

.description{
  text-align: justify;
}

.availability{
  background-color: grey;
  color: yellow;
}

.specs{
  text-align: left;

}
.size{
  text-align: left;
}

.weight{
  text-align: left;

}

.validity{
  text-align: left;
}
.price{
  text-align: left;
}

p {

  padding : 0;
  margin : 0;
  line-height : 20px;
}
